<%= render 'form', user: @user %>

<div class="Container WishGallery-wrapper">
  <h1 class="WishGallery-title">Wish Gallery</h1>

  <% if @wishes %>
    <div class="WishGallery">
			<div class="WishGallery-container">
		    <div class="WishGallery-column"></div>
        <div class="WishGallery-gutter"></div>
				<%= render 'wishes/gallery', wishes: @wishes %>
			</div>
      <div class="WishGallery-pagination">
        <%= link_to_next_page(@wishes, 'Next Page', :remote => true) %>
      </div>
    </div>
  <% end %>

  <div class="Copyright">
    <%= image_tag 'EF-WM-icon-black.png' %>
    <br />
    &copy; 2018 Electric Forest
  </div>
</div>

<%= render 'rules' %>