<%= render 'granting_intro' %>

<div class="Container WishGallery-wrapper">
  <h1 class="WishGallery-announcement-title">Official 2019 Wish Machine Granted Wishes</h1>

  <% if @granted_wishes %>
    <div class="WishGallery">
      <% if @granted_wishes.count > 1 %>
        <div class="WishGallery-container">
        <div class="WishGallery-column"></div>
        <div class="WishGallery-gutter"></div>
      <% else %>
        <div class="WishGallery-tempContainer">
      <% end %>

        <% @granted_wishes.each do |granted_wish| %>
          <div class="WishGallery-grantedWish">
            <p class="WishGallery-winner">
              <% unless granted_wish.info.empty? %>
                <%= granted_wish.info %> //
              <% end %>
              <%= granted_wish.winner %>
            </p>
            <%= image_tag 'wish-flourish.png' %>
            <p class="WishGallery-description">
              <strong>If I...</strong> <%= granted_wish.requirement %>
            </p>
            <p class="WishGallery-description">
              <strong>then Electric Forest will...</strong> <%= granted_wish.fulfillment %>
            </p>

            <% unless granted_wish.external_link.empty? %>
              <p class="WishGallery-externalLink"><%= link_to("Learn More", granted_wish.external_link, target: "_blank") %></p>
            <% end %>

          </div>
        <% end %>

      </div>
    </div>
  <% end %>

  <div class="Copyright">
    <br />
    &copy; 2019 Electric Forest
  </div>
</div>