<%= render 'granting_intro' %>

<div class="Container WishGallery-wrapper">
  <h1>Granted Wishes</h1>

  <% if @granted_wishes %>
    <div class="WishGallery">
      <div class="WishGallery-container">
        <div class="WishGallery-column--half"></div>
        <div class="WishGallery-gutter"></div>

        <% @granted_wishes.each do |granted_wish| %>
          <div class="WishGallery-grantedWish">
            <%= image_tag("wheel.png") %>
            <p class="WishGallery-winner">
              <svg height="9" width="6">
                <line x1="0" y1="0" x2="6" y2="0" style="stroke:rgb(190,186,128);stroke-width:4" />
              </svg>

              <svg height="9" width="24">
                <line x1="0" y1="0" x2="24" y2="0" style="stroke:rgb(190,186,128);stroke-width:4" />
              </svg>

              <span class="WishGallery-winnerName"><%= granted_wish.winner %>'s Wish</span>
              
              <svg height="9" width="24">
                <line x1="0" y1="0" x2="24" y2="0" style="stroke:rgb(190,186,128);stroke-width:4" />
              </svg>
              <svg height="9" width="6">
                <line x1="0" y1="0" x2="6" y2="0" style="stroke:rgb(190,186,128);stroke-width:4" />
              </svg>
            </p>
            <p class="WishGallery-description">
              <strong>If I...</strong> <%= granted_wish.requirement %>
            </p>
            <p class="WishGallery-description">
              <strong>then Electric Forest will...</strong> <%= granted_wish.fulfillment %>
            </p>

            <% unless granted_wish.info.empty? %>
              <p class="WishGallery-information">
                <strong>Additional Info:</strong> <%= granted_wish.info %>
              </p>
            <% end %>

            <% unless granted_wish.external_link.empty? %>
              <p class="WishGallery-externalLink"><%= link_to("Learn More", granted_wish.external_link, target: "_blank") %></p>
            <% end %>
          </div>
        <% end %>

      </div>
      <div class="WishGallery-pagination">
        <%= link_to_next_page(@granted_wishes, 'Next Page', :remote => true) %>
      </div>
    </div>
  <% end %>

  <div class="Copyright">
    &copy; 2018 Electric Forest
  </div>
</div>